@import url('https://fonts.googleapis.com/css?family=Raleway|Sacramento');
:root {
    --duration: 20s;
    --delay: 20s;
  }
  
html {
    background-color: black;
    animation: shrink var(--duration) var(--delay) linear infinite;
    scroll-behavior: smooth;
}
.ball {
    position: absolute;
    border-radius: 100%;
    opacity: 0.7;
    z-index: -9;
  }
body {
    position: relative;
    width: 100vw;
    height: 100%;
    overflow: hidden;
    animation: spin var(--duration) var(--delay) linear infinite;
    transform-style: preserve-3d;
    perspective: 25rem;
}

img {
    --duration: 40s;
    --name: float-up-1;
    position: absolute;
    top: 1vh;
    left: 0;
    width: 33vw;
    transform: translateY(200vh);
    animation: var(--name) var(--duration) linear infinite;
    box-shadow: 1px 3px 15px rgba(0, 0, 0, 0.5);
    z-index: -1;
}
@media only screen and (max-width: 600px) {
    img {
      width: 70vw;
    }
  }
img:nth-child(1) {
    animation-delay: 0s;
}
img:nth-child(2) {
    animation-delay: -3s;
}
img:nth-child(3) {
    animation-delay: -6s;
}
img:nth-child(4) {
    animation-delay: -9s;
}
img:nth-child(5) {
    animation-delay: -12s;
}
img:nth-child(6) {
    animation-delay: -15s;
}
img:nth-child(7) {
    animation-delay: -18s;
}
img:nth-child(8) {
    animation-delay: -21s;
}
img:nth-child(9) {
    animation-delay: -24s;
}
img:nth-child(10) {
    animation-delay: -27s;
}
img:nth-child(11) {
    animation-delay: -2s;
}
img:nth-child(12) {
    animation-delay: -7s;
}
img:nth-child(13) {
    animation-delay: -11s;
}
img:nth-child(14) {
    animation-delay: -6s;
}
img:nth-child(1) {
    --name: float-up-1;
    --duration: calc(20s * 1);
    left: 0vw;
    z-index: -1;
}
img:nth-child(2) {
    --name: float-up-3;
    --duration: calc(20s * 3);
    left: 10vw;
    z-index: -3;
}
img:nth-child(3) {
    --name: float-up-2;
    --duration: calc(20s * 2);
    right: 0vw;
    z-index: -2;
}
img:nth-child(4) {
    --name: float-up-1;
    --duration: calc(20s * 1);
    left: 36vw;
    z-index: -1;
}
img:nth-child(5) {
    --name: float-up-3;
    --duration: calc(20s * 3);
    left: 0vw;
    z-index: -3;
}
img:nth-child(6) {
    --name: float-up-2;
    --duration: calc(20s * 2);
    left: 15vw;
    z-index: -2;
}
img:nth-child(7) {
    --name: float-up-2;
    --duration: calc(20s * 2);
    left: 55vw;
    z-index: -2;
}
img:nth-child(8) {
    --name: float-up-3;
    --duration: calc(20s * 3);
    left: -20vw;
    z-index: -3;
}
img:nth-child(9) {
    --name: float-up-1;
    --duration: calc(20s * 1);
    left: 68vw;
    z-index: -1;
}
img:nth-child(10) {
    --name: float-up-2;
    --duration: calc(20s * 2);
    left: 0vw;
    z-index: -2;
}
img:nth-child(11) {
    --name: float-up-3;
    --duration: calc(20s * 3);
    left: -40vw;
    z-index: -3;
}
img:nth-child(12) {
    --name: float-up-3;
    --duration: calc(20s * 1.5);
    left: 16vw;
    z-index: -3;
}
img:nth-child(13) {
    --name: float-up-2;
    --duration: calc(20s * 2.5);
    right: 0vw;
    z-index: -2;
}
img:nth-child(14) {
    --name: float-up-1;
    --duration: calc(20s * 3);
    left: 66vw;
    z-index: -1;
}
@keyframes float-up-3 {
    from {
        transform: translateY(200vh) translateZ(-50vh);
   }
    to {
        transform: translateY(-200vh) translateZ(-50vh);
   }
}
@keyframes float-up-2 {
    from {
        transform: translateY(150vh) translateZ(-25vh);
   }
    to {
        transform: translateY(-150vh) translateZ(-25vh);
   }
}
@keyframes float-up-1 {
    from {
        transform: translateY(100vh);
   }
    to {
        transform: translateY(-100vh);
   }
}
@keyframes spin {
    10%, 100% {
        transform: rotateY(360deg);
   }
}
@keyframes shrink {
    0% {
        transform: scale(1) translateX(0);
   }
    2.5% {
        transform: scale(0.75) translateX(5%);
   }
    7.5% {
        transform: scale(0.75) translateX(-5%);
   }
    10%, 100% {
        transform: scale(1);
   }
}
.text-effect{
    color: #fff6a9;
    font-family: 'Sacramento', cursive;
    font-size: 6vw;
    font-weight: 600;
    text-align: center;
    text-transform: capitalize;
    margin-top: 20px;
    justify-content: center;
    text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    position: relative;
    animation: animate 2s ease-in-out infinite;
}
@keyframes animate{
    20%, 24%, 55%{
        color: #111;
        text-shadow: none;
    }
    0%, 19%, 21%, 23%, 25%, 54%, 56%, 100%{
        color: #fff6a9;
        text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    }
}
@media only screen and (max-width: 990px){
    .text-effect{ font-size: 100px; }
}
@media only screen and (max-width: 767px){
    .text-effect{ font-size: 80px; }
}
@media only screen and (max-width: 479px){
    .text-effect{ font-size: 60px; }
}
@media only screen and (max-width: 359px){
    .text-effect{ font-size: 45px; }
}