html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body{
  background-color: hsl(240, 100%, 90%);
  height: 100vh;
  background-size: cover;
  background-position: center center;
  position: relative;
  background-blend-mode: lighten;

}
h2 {
  text-align: center;
  font-family: "Montserrat";
  text-decoration: solid;
}
p {
  text-align: center;
  font-family: "Roboto";
}
a{
  text-align: center;
  font-family: "Roboto";
  color: #000;
}
.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}
input {
  display: block;
  width: 100%;
  font-size: 14pt;
  border: none;
  border-bottom: 5px solid black;
  background: #f8f4e5;
  text-align: center;
  color: black;
}
@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 0 16px;
}

.container::after,
.row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}
